<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.shiro410.mapper.SysPermissionMapper" >

    <resultMap id="permMap" type="com.qf.shiro410.pojo.SysPermission" >
        <id column="permission_id" property="permissionId" jdbcType="INTEGER" />
        <result column="per_name" property="perName" jdbcType="VARCHAR" />
        <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
        <result column="menu_type" property="menuType" jdbcType="VARCHAR" />
        <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
        <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
        <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
        <result column="per_desc" property="perDesc" jdbcType="VARCHAR" />
        <result column="if_vilid" property="ifVilid" jdbcType="TINYINT" />
    </resultMap>

    <select id="findPermissionsByUsername" parameterType="java.lang.String" resultMap="permMap">
        SELECT
        p.*
        FROM
            tb_sys_user u,
            tb_sys_role r,
            tb_sys_permission p,
            tb_user_role ur,
            tb_role_permission rp
        WHERE
            u.userid = ur.user_id
            AND ur.role_id = r.role_id
            AND r.role_id = rp.role_id
            AND rp.permission_id = p.permission_id
            AND u.loginName = #{username}
    </select>

</mapper>